body{ 
    font-family: 'Roboto', sans-serif;
    width: 100% !important;
    
}

#navigation{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.9rem;
    color: white;
}

.custom-nav-link {
    transition: 0.01s;
}

.custom-nav-link:hover {
    color: #32A7FD !important;
    transition: 0.01s;
}

@media (min-width: 768px) {
    .navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

/*seccion 1*/

#presentation-banner, #presentation-card, #presentation-img {
    background-color: #32A7FD;
    text-align: center;
}


#nombre_de_usuario{
    font-size: 270%;
}

#descripcion{
    color:white;
    font-size: 105%;

}

/*seccion 2*/

#naranja{
    color:#FF7A00;
    font-size: 250%;
}

/* 
#carouselExampleIndicators{
    width: 25%;
    margin: 30px auto;
  } */

#projects-banner {
    text-align: center;
}


/*Seccion 3*/

#seccion-naranja{
    background-color: #FF7A00;
}

#quien{
    color:white;
    font-size: 250%;
}

#info{
    color:white;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

/*Seccion 4*/

#contacto{
    text-decoration: none;
    font-size: 250%;
}


.rectangle {
    width: 50%;
    height: 3em;
    border: 1px solid grey;
    background-color: #ffffff;
    box-sizing: border-box;
}

.submit{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #32A7FD;
    color: white;
    font-size: 20px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    transition: 0.09s;
}

.submit:hover {
    background-color: rgba(0,0,0,0);
    color: #32A7FD;
    border: 2px solid #32A7FD ;
    transition: 0.09s;
}

input {
    transition: 0.05s;
}

input:focus {
    border: 2px solid #61BDFF;
    transition: 0.05s;
}

#footer{
    color: white;
    background-color: #343a40;
}

