body{ 
    font-family: 'Roboto', sans-serif;
}

#navigation{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2rem;
    color: white;
}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }

/*seccion 1*/

#presentation-banner, #presentation-card, #presentation-img {
    background-color: #32A7FD;
    text-align: center;
}


#nombre_de_usuario{
    font-size: 270%;
}

#descripcion{
    color:white;
    font-size: 105%;
    
}

/*seccion 2*/

#naranja{
    color:#FF7A00;
    font-size: 250%;
}

#projects-banner {
    text-align: center;
}


/*Seccion 3*/

#seccion-naranja{
    background-color: #FF7A00;
}

#quien{
    color:white;
    font-size: 250%;
}

#info{
    color:white;
      text-align: center;
      margin-left: 20%;
      margin-right: 20%;
}

/*Seccion 4*/

#contacto{
    text-decoration: underline;
    font-size: 250%;
}


.rectangle {
    width: 50%;
    height: 3em;
    border: 3px solid #303C66
    background-color: #ffffff;
    box-sizing: border-box;

  }

#submit{
    width: 10%;
    height: 3em;
    background: #61BDFF;
    color: white;
    font-size: 20px;
    border: 5px solid #FFFFFF;

}

#footer{
    color: white;
    background-color: #343a40;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    
}
    
